---
import WidgetWrapper from "./WidgetWrapper.astro";
import Headline from "@/components/ui/Headline.astro";
import Form from "@/components/ui/Form.astro";

const { title, tagline } = Astro.props;
---

<WidgetWrapper>
  {(title || tagline) && (
    <Headline
      title={title}
      tagline={tagline}
      classes={{
        container: "max-w-3xl mx-auto text-center",
      }}
    />
  )}
  <div class:list={["mx-auto max-w-xl bg-card border border-border rounded-3xl p-8 shadow-sm mb-12 md:mb-16", { reveal: !import.meta.env.ENV_CLIENT }]}>
    <Form />
  </div>
</WidgetWrapper>
