---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlockRenderer from "@/components/BlockRenderer.astro";
import { getEntry } from "astro:content";

const page = await getEntry("pages", "about");
if (!page) throw new Error("Missing pages/about.md");
const data = page.data;

const metadata = {
  title: data.meta_title ?? data.title,
  description: data.description ?? undefined,
};
---

<BaseLayout {metadata}>
  {"content_blocks" in data && data.content_blocks && (
    <div
      data-editable="array"
      data-prop="content_blocks"
      data-component-key="_type"
    >
      {data.content_blocks.map((block) => (
        <BlockRenderer block={block} />
      ))}
    </div>
  )}
</BaseLayout>
