---
import { getEntry } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';
import BlockRenderer from '~/components/BlockRenderer.astro';

const page = await getEntry('pages', 'index');
if (!page) throw new Error('Missing pages/index.md');

const data = page.data;
const metadata = {
  title: data.title || 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
  ...data.metadata,
};
---

<Layout metadata={metadata}>
  {data._schema === 'page_builder' && (
    <div data-editable="array" data-prop="content_blocks" data-component-key="_type">
      {data.content_blocks?.map((block) => (
        <BlockRenderer block={block} />
      ))}
    </div>
  )}
</Layout>
